.model {
    min-height: 100%;
    min-width: 100%;
}

.slider {
    display: flex;
    flex-direction: row;

    min-height: 100%;
    min-width: 100%;

    align-items: center;

    font-family: -apple-system,BlinkMacSystemFont,Helvetica;
    font-size: 12px;
}

.track-wrapper {
    display: inherit;
    align-items: center;

    margin-left: 10px;
    margin-right: 10px;

    min-height: 100%;
}

.track {
    background-color: rgb(209, 209, 209);

    height: 5px;
    width: 100px;
}

.slide {
    min-height: 5px;
    width: 5px;

    background-color: black;
}